{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="uk">
	<head>
		<meta charset="UTF-8"/>
		<title>  Сервіс обліку студентів - {% block meta_title %}База{% endblock meta_title %}</title>	
		<meta name="description" value="Сервіс обліку студетів начального закладу"/>
		<!-- Include Styles -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap/3.3.0/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{PORTAL_URL}}{% static "css/main.css" %}"/>
		{% block extra_css%}{%endblock extra_css%}
	</head>
	<body>
		<!--Start conatiner -->
		<div class="container">
			{% block header %}
			<!-- Start Header -->
			<div class="row" id="header">
				<!--Logo-->
				<div class="col-xs-8">
					<h1>Сервіс обліку студентів</h1>
				</div>
				<!--Selector-->
				<div class="col-xs-4" id="group-selector">
					<strong>Група:</strong>
					<select>
						<option value="">Усі студенти</option>
						<option value="">КН-30, Яворський Адріан</option>
						<option value="">КН-30, Боровець Роман</option>
						<option value="">КН-30, Мельничук Назар</option>
					</select>
				</div>
			</div>
			{% endblock header%}
			<!--End header-->
			<!--Subheader-->
			{% block subheader%}
			<div class="row" id="subheader">
				<div class="col-xs-12"> 
					<ul class="nav nav-tabs">
					{% url "home" as home %}
					  <li role="presentation" {%if home == request.path %}class="active"{%endif%}><a href="{% url "home" %}">Студенти</a></li>
					  {% url "journal" as journal %}
					  <li role="presentation" {%if journal in request.path %}class="active"{%endif%}><a href="{% url "journal"%}">Відвідування</a></li>
					  {% url "groups_list" as groups_list %}
					  <li role="presentation" {% if groups_list in request.path  %}class="active"{%endif%}><a href="{% url "groups_list"%}">Групи</a></li>
					</ul>
				</div>	
			</div>
			{%endblock subheader%}
			<!--End subheader-->
			<!-- Start main page content-->
			<div class="row" id="content-columns">
				<div class="col-xs-12" id="content-column">
					{%comment Not used so far%}
					<div class="alert alert-warning" role="alert">Студент успішно доданий</div> 
					{%endcomment%}
					<h2>{% block title %}{% endblock title %}</h2>
					{% block content %}{% endblock content %}
				</div>
			</div>
			<!--End main page content-->
			<!--Start footer-->
			{%block footer%}
			<div class="row" id="footer">
				<div class="col-xs-12">
					&copy; 2014 Сервіс обліку студентів
				</div>
			<!-- End footer-->	
			</div>
			{%endblock footer%}
		</div>
		<!--End containe-->
		<!-- Javascripts Section -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
		<script src="https://cdn.jsdelivr.net/bootstrap/3.3.0/js/bootstrap.min.js"></script>

  {% block extra_js %}{% endblock extra_js %}
	</body>
</html>