{% extends "students/base.html" %}

{% block meta_title %}Список екзаменів {% endblock meta_title %}

{% block title %}Список екзаменів{% endblock title %}

{% load static from staticfiles %}

{%block content%}
<a href="{% url "exams_add" %}" class="btn btn-primary">Додати Екзамен</a>
					{% if exams %}
					<!-- Start table-->
					<table class="table"> 
					{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
						<thead>
							<tr>
                  <th>
                      <a href="{% url "exams_list"%}?order_by=id{% if order_by == 'id' and reverse != '1' %}&amp;reverse=1 {% endif %}">#{% if order_by == 'id'  and reverse != '1' %}&uarr;{%  elif order_by == 'id'  and reverse == '1'  %} &darr; {%endif%}
                      </a>
                   </th>
								<th>
								<a href="{% url "exams_list" %}?order_by=name{% if order_by == 'name' and reverse != '1' %}&amp;reverse=1 {% endif %}">Назва{% if order_by == 'name'  and reverse != '1' %}&uarr;{%  elif order_by == 'name'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>
								<th>
								<a href="{% url "exams_list" %}?order_by=date{% if order_by == 'date' and reverse != '1' %}&amp;reverse=1 {% endif %}">Дата і час проведення{% if order_by == 'date'  and reverse != '1' %}&uarr;{%  elif order_by == 'date'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>
								
								<th>
								<a href="{% url "exams_list" %}?order_by=exam_teacher{% if order_by == 'exam_teacher' and reverse != '1' %}&amp;reverse=1 {% endif %}">Викладач{% if order_by == 'exam_teacher'  and reverse != '1' %}&uarr;{%  elif order_by == 'exam_teacher'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>

								<th>
								<a href="{% url "exams_list" %}?order_by=groups{% if order_by == 'groups' and reverse != '1' %}&amp;reverse=1 {% endif %}">Група{% if order_by == 'groups'  and reverse != '1' %}&uarr;{%  elif order_by == 'groups'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>
								
								<th>Дії</th> 
							</tr>
						</thead>
						<tbody>
							{% for exam in exams %}
							<tr>
								<td>{{exam.id}}</td>
								<td><a href="{% url "exams_edit" exam.id %}" class="edit-form-link">{{exam.name}}</a></td>
                                <td>{{exam.date|date:"d.m.Y, H:i"}}</td>
                                <td>{% if exam.exam_teacher %}<a href="{% url "teachers_edit" exam.exam_teacher.id %}" class="edit-form-link">{{exam.exam_teacher}} </a>{% else %}Нема викладача{% endif %}</td>
								<td><a href="{% url "groups_edit" exam.groups.id %}" class="edit-form-link">{{exam.groups}}</a></td>
								<td>
									<div class="btn-group">
									  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									    Дії 
									    <span class="caret"></span>
									  </button>
										  <ul class="dropdown-menu" role="menu">
											    <li><a href="{% url "exams_edit" exam.id %}">Редагувати</a></li>
											    <li><a href="{% url "exams_delete" exam.id %}">Видалити</a></li>
											
										  </ul>
									</div>
								</td>
							</tr> 
							{% endfor %}
						</tbody>
					</table>
					 {% endwith %}
					<!-- End table-->
					{% else%}
						<p>Поки немає екзаменів у базі</p>
					{% endif%}
					<!-- Start pagination-->
					<div>
						{% with object_list=exams %}
                {% include "students/pagination.html" %}
          	{% endwith %}
          	{% block pagination %}{% endblock pagination %}
					</div>
					<!-- End pagination-->

{%endblock content%}