{% extends "students/base.html" %}

{% block meta_title %}Редагувати студента {% endblock meta_title %}

{% block title %}  {{name}} Групу {% endblock title %}

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block status_message %}
{% if form.errors%}
	<div class="alert alert-warning" role="alert">Будь - ласка, виправете наступні помилки  </div> 
{% endif %}
{% if request.GET.status_message %}
	<div class="alert alert-danger" role="alert">{{ request.GET.status_message }}</div> 
{% endif %}

{% endblock %}

{%block content%}


{% crispy form %}

{%endblock content%}