{% extends "students/base.html" %}

{% block meta_title %}Список студентів {% endblock meta_title %}

{% block title %}Список студентів{% endblock title %}

{% load static from staticfiles %}

{%block content%}
<form method="GET" enctype="multipart/form-data" action={% url 'students_delete_several' %}>
<button class="btn btn-primary" type="submit" name="delete_button1">Видалити студентів</button>

					{% if students %}
					<!-- Start table-->
					<table class="table"> 
					{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
						<thead>
							<tr>
								<th>
								<a href="{% url "home" %}?order_by=id{% if order_by == 'id'  and reverse != '1' %}&amp;reverse=1{% endif %}">#
								{% if order_by == 'id'  and reverse != '1' %}&uarr;{%  elif order_by == 'id'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>

								<th>Фото</th>

								<th>
								<a href="{% url "home" %}?order_by=last_name{% if order_by == 'last_name'  and reverse != '1' %}&amp;reverse=1{% endif %}">Прізвище
								{% if order_by == 'last_name'  and reverse != '1' %}&uarr;{%  elif order_by == 'last_name'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>
								
								<th>
								<a href="{% url "home" %}?order_by=first_name{% if order_by == 'first_name'  and reverse != '1' %}&amp;reverse=1{% endif %}">Імя
								{% if order_by == 'first_name'  and reverse != '1' %}&uarr;{%  elif order_by == 'first_name'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>

								<th>
								<a href="{% url "home" %}?order_by=ticket{% if order_by == 'ticket'  and reverse != '1' %}&amp;reverse=1{% endif %}">Білет
								{% if order_by == 'ticket'  and reverse != '1' %}&uarr;{%  elif order_by == 'ticket'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>
								
								<th>Видалити</th> 
							</tr>
						</thead>
						<tbody>
							{% for student in students %}
							<tr>
								<td>{{student.id}}</td>
								<td>
								{%if student.photo %}
								<img class="img-circle" src="{{ student.photo.url }}" height="30" width="30">
								{%else%}
								<img class="img-circle" src="{% static "img/default-user.png" %}" height="30" width="30">
								{%endif%}
								</td>
								<td><a href="{% url "students_edit" student.id %}">{{student.last_name}}</a></td>
								<td><a href="{% url "students_edit" student.id %}">{{student.first_name}}</a></td>
								<td><a href="#">{{student.ticket}}</a></td>
								<td>
									<input type="checkbox" name="chosen" value= {{student.id}}> 
								</td>
							</tr> 
							{% endfor %}
						</tbody>
					</table>
					 {% endwith %}
					<!-- End table-->
					{% else%}
						<p>Поки немає студнетів у базі</p>
					{% endif%}
					<!-- Start pagination-->
					<div>
					{% with object_list=students %}
                  {% include "students/pagination.html" %}
          {% endwith %}
					</div>
					<!-- End pagination-->
</form>

{%endblock content%}