{% extends "students/base.html" %}

{% block meta_title %}Список викаладачів {% endblock meta_title %}

{% block title %}Список викладачів{% endblock title %}

{% load static from staticfiles %}

{%block content%}
{% if  perms.students.add_student %}
<a href="{% url "teachers_add" %}" class="btn btn-primary">Додати Викладача</a>
{% endif %}
					{% if teachers %}
					<!-- Start table-->
					<table class="table"> 
					{% with order_by=request.GET.order_by reverse=request.GET.reverse %}
						<thead>
							<tr>
								<th>
								<a href="{% url "teachers_list" %}?order_by=id{% if order_by == 'id'  and reverse != '1' %}&amp;reverse=1{% endif %}">#
								{% if order_by == 'id'  and reverse != '1' %}&uarr;{%  elif order_by == 'id'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>

								<th>Фото</th>

								<th>
								<a href="{% url "teachers_list" %}?order_by=last_name{% if order_by == 'last_name'  and reverse != '1' %}&amp;reverse=1{% endif %}">Прізвище
								{% if order_by == 'last_name'  and reverse != '1' %}&uarr;{%  elif order_by == 'last_name'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>
								
								<th>
								<a href="{% url "teachers_list" %}?order_by=first_name{% if order_by == 'first_name'  and reverse != '1' %}&amp;reverse=1{% endif %}">Імя
								{% if order_by == 'first_name'  and reverse != '1' %}&uarr;{%  elif order_by == 'first_name'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>

								<th>
								<a href="{% url "teachers_list" %}?order_by=subject{% if order_by == 'subject'  and reverse != '1' %}&amp;reverse=1{% endif %}">Предмет
								{% if order_by == 'subject'  and reverse != '1' %}&uarr;{%  elif order_by == 'subject'  and reverse == '1'  %} &darr; {%endif%}
								</a>
								</th>
								
								{% if  perms.students.add_student %}<th>Дії</th>{% endif %}
							</tr>
						</thead>
						<tbody>
							{% for teacher in teachers %}
							<tr>
								<td>{{teacher.id}}</td>
								<td>
								{%if teacher.photo %}
								<img class="img-circle" src="{{ teacher.photo.url }}" height="30" width="30">
								{%else%}
								<img class="img-circle" src="{% static "img/default-user.png" %}" height="30" width="30">
								{%endif%}
								</td>
								<td>{% if  perms.students.add_student %}<a href="{% url "teachers_edit" teacher.id %}" class="edit-form-link">{{teacher.last_name}}</a>{% else %}{{teacher.last_name}}{% endif %}</td>
								<td>{% if  perms.students.add_student %}<a href="{% url "teachers_edit" teacher.id %}" class="edit-form-link">{{teacher.first_name}}</a>{% else %}{{teacher.first_name}}{% endif %}</td>
								<td>
								
                  <ul class="teacher_exam-list">
                  	{% for exam in teacher.exam_set.all %}
                    <li>{{ exam.name }}</li>
                    {% endfor %}
                  </ul>
                    
                </td>
								{% if  perms.students.add_student %}
								<td>
									<div class="btn-group">
									  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									    Дії 
									    <span class="caret"></span>
									  </button>
										  <ul class="dropdown-menu" role="menu">
											    <li><a href="{% url "teachers_edit" teacher.id %}">Редагувати</a></li>
											    <li><a href="{% url "teachers_delete" teacher.id %}">Видалити</a></li>
											
										  </ul>
									</div>
								</td>
								{% endif %}
							</tr> 
							{% endfor %}
						</tbody>
					</table>
					 {% endwith %}
					<!-- End table-->
					{% else%}
						<p>Поки немає викладачів у базі</p>
					{% endif%}
					<!-- Start pagination-->
					<div>
					{% with object_list=teachers %}
                  {% include "students/pagination.html" %}
          {% endwith %}
					</div>
					<!-- End pagination-->

{%endblock content%}